body {
    background-color: #FAF7F7;
    margin: 0;
}

img {
    width: 100%;
}

/***h'ere***/

h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1rem;
    text-decoration: none;
    color: #F58E81;
    font-family: 'Montserrat', sans-serif;

}

h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: #F58E81;
    margin-top: 100px;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 2rem;
    color: #F58E81;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: bolder;
    text-decoration: none;
    color: #F58E81;
    font-family: 'Montserrat', sans-serif;
}

h7 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
}

p {
    margin: 5px 0 0 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;

}

#forside a {
    text-decoration: none;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F58E81;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}

/***Index.html header***/

.indexheader {
    background-color: #EA5045;
    margin: 0;
    width: 100%;
}

#header_container {
    background-color: #EA5045;
}

.indexheader #keatitle {
    background-color: #EA5045;
    height: 250px;
    text-align: center;
}

.indexheader #keaimg {
    width: 200px;
    margin-top: 100px;
}

/*** Log ind funtionen ***/

.login_container {
    text-align: center;
    margin-top: 50px;
}

input[type=password],
input[type=text],
input[type=submit] {
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 2px 8px;
    width: 300px;
    height: 40px;
    margin: 2vw;
    font-size: 1rem;
    color: #EA5045;

}

.password {
    margin-bottom: 15vw;
}

.continue input[type=submit] {
    background-color: #EA5045;
    border: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.fb input[type=submit] {
    border: 2px solid #EA5045;
    background-color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #EA5045;
}

/*** header på de andre sider ***/

.sideheader #keatitle {
    background-color: #EA5045;
    height: 50px;
    position: fixed;
    width: 100%;
}

.sideheader #keaimg {
    width: 80px;
    margin-top: 15px;
    margin-left: 10px;
}

#profile {
    width: 20px;
    position: absolute;
    right: 65px;
    top: 15px;
}

#burgericon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 15px;
}

/*** Forside bokse ***/

.col1,
.col2,
.col3,
.col4,
.col5 {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 8px;
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
}

.box2 {
    background-color: white;
    width: 300px;
    height: 150px;
    margin: 8px;
    flex-basis: 100px;
    flex-grow: 4.5;
    text-align: center;
}

.box3 {
    background-color: white;
    width: 300px;
    height: 310px;
    margin: 8px;
    flex-basis: 100px;
    flex-grow: 4.5;
    text-align: center;
}

.icon {
    width: 60px;
    margin-top: 35px;

}

.icon2 {
    width: 60px;
    margin-top: 35px;
    margin-bottom: 20px;
}

#mellemrum {
    width: 100%;
    height: 70px;
}

/*** BURGERMENU ***/

#menu {
    background-color: #3F3140;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100%;
}

#menulist {
    text-align: center;
    padding: 20px;
    background-color: #3F3140;
}

#keaicon {
    width: 200px;
    text-align: center;
    margin-top: 50px;
    margin-left: 150px;
}

.keaimg {
    text-align: center;
}

#menuknap {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    visibility: hidden;
}

#logud {
    background-color: #EA847C;
    padding: 1px;
    margin-top: 165px;
}

/*** afleveringer ***/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.naeste {
    flex-grow: 1;
    flex-basis: 100px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 10px 60px;
    padding: 12px;
}

.upload {
    flex-grow: 1;
    flex-basis: 100px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 10px 60px;
    padding: 12px;
}

/**.trykwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}**/

.tematryk {
    flex-grow: 1;
    flex-basis: 100px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    padding: 12px;
    margin: 10px 60px 0;

}

.pilnedtryk {
    width: 13px;
    position: relative;
    left: 330px;
    bottom: 20px;
}

.scollnedbox {
    width: 350px;
    height: 50px;
    border: 1px solid #DEDCDB;
    margin: 0 60px;
    flex-grow: 1;
    flex-basis: 100px;
    padding: 12px;
}

.move {
    height: 0;
    visibility: hidden;
}

.tema {
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 10px 60px;
    padding: 12px;

}

#afleveringer h6 {
    margin: 0vw 13vw;
    color: #EA5045;
}

.ikon {
    width: 20px;
    position: relative;
    left: 330px;
}

.pilned {
    width: 13px;
    position: relative;
    left: 330px;
    bottom: 20px;
}
