body {
    background-color: #FAF7F7;
    margin: 0;
}

img {
    width: 100%;
}

/***h'ere***/

h1 {
    color: black;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 1rem;
    text-decoration: none;
    color: #F58E81;
    font-family: 'Montserrat', sans-serif;
}

h2:hover {
    color: #DEDCDB;
}

h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: #F58E81;
    margin-top: 70px;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

#afleveringer h4 {
    color: black;
    font-size: 0.7rem;
    margin: 0;
}

h5 {
    font-size: 1.5rem;
    color: #F58E81;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: bolder;
    text-decoration: none;
    color: #F58E81;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 5px 0 0 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;

}

#forside a {
    text-decoration: none;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F58E81;
}

a:hover {
    color: #DEDCDB;
}

.box:hover {
    background-color: #DEDCDB;
}

.box2:hover {
    background-color: #DEDCDB;
}

.box3:hover {
    background-color: #DEDCDB;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}

/***Index.html header***/

.indexheader {
    background-color: #EA5045;
    margin: 0;
    width: 100%;
}

#header_container {
    background-color: #EA5045;
}

.indexheader #keatitle {
    background-color: #EA5045;
    height: 250px;
    text-align: center;
}

.indexheader #keaimg {
    width: 200px;
    margin-top: 100px;
}

/*** Log ind funtionen ***/

.login_container {
    text-align: center;
    margin-top: 50px;
}

input[type=password],
input[type=text],
input[type=submit] {
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 2px 8px;
    width: 300px;
    height: 40px;
    margin: 2vw;
    font-size: 1rem;
    color: #EA5045;

}

.password {
    margin-bottom: 15vw;
}

.continue input[type=submit] {
    background-color: #EA5045;
    border: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.fb input[type=submit] {
    border: 2px solid #EA5045;
    background-color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #EA5045;
}

/*** header på de andre sider ***/

.sideheader #keatitle {
    background-color: #EA5045;
    height: 50px;
    position: fixed;
    width: 100%;
}

.sideheader #keaimg {
    width: 80px;
    margin-top: 15px;
    margin-left: 10px;
}

#profile {
    width: 20px;
    position: absolute;
    right: 65px;
    top: 15px;
}

#burgericon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 15px;
}

/*** Forside bokse ***/

.col1,
.col2,
.col3,
.col4,
.col5 {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 8px;
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
}

.box2 {
    background-color: white;
    width: 200px;
    height: 100px;
    margin: 8px;
    flex-basis: 100px;
    flex-grow: 15;
    text-align: center;
}

.box3 {
    background-color: white;
    width: 200px;
    height: 210px;
    margin: 8px;
    flex-basis: 100px;
    flex-grow: 5;
    text-align: center;
}

.boxwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100px;
    flex-grow: 1;
}

.icon {
    width: 60px;
    margin-top: 17px;

}

.icon2 {
    width: 60px;
    margin-top: 17px;
    margin-bottom: 20px;
}

.icon3 {
    width: 60px;
    margin-top: 17px;
    margin-bottom: 0px;
}


#mellemrum {
    width: 100%;
    height: 70px;
}

/*** BURGERMENU ***/

#menu {
    background-color: #3F3140;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#menulist {
    text-align: center;
    padding: 20px;
    background-color: #3F3140;
}

#keaicon {
    width: 180px;
    text-align: center;
    margin-top: 50px;
    margin-left: 30vw;
}

.keaimg {
    text-align: center;
}

#menuknap {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#logud {
    background-color: #EA847C;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*** afleveringer ***/

#afleveringer {
    width: 435px;
    margin: auto;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.naeste {
    flex-grow: 1;
    flex-basis: 100px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 10px 30px;
    padding: 12px;
}

.upload {
    flex-grow: 1;
    flex-basis: 100px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 10px 30px;
    padding: 12px;
}

.tema {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 10px 30px;
    padding: 12px;

}

.tema2 {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 20px 30px 10px;
    padding: 12px;

}

#afleveringer h6 {
    margin: 5vw 5vw 0 5vw;
    color: #EA5045;
}

#afleveringer h8 {
    margin: 5vw;
}

.ikon {
    width: 20px;
    position: relative;
    left: 330px;
}

.pilned {
    width: 13px;
    position: relative;
    left: 330px;
    bottom: 20px;
}

.tematryk {
    flex-grow: 1;
    flex-basis: 100px;
    background-color: #DEDCDB;
    width: 350px;
    height: 50px;
    margin: 10px 30px 0;
    padding: 12px;

}

#pilnedtryk {
    width: 13px;
    position: relative;
    left: 330px;
    bottom: 20px;
}

#piloptryk {
    width: 13px;
    position: relative;
    left: 330px;
    bottom: 40px;
}

.tryknedbox {
    width: 350px;
    height: 50px;
    border: 1px solid #DEDCDB;
    margin: 0 30px;
    flex-grow: 1;
    flex-basis: 100px;
    padding: 12px;
}

/** KLASSER **/

.move {
    height: 0;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

/*** SKEMA ***/

#mellemrum2 {
    height: 50px;
}

.overskrift {
    background-color: #DEDCDB;
    height: 40px;
    padding: 10px;
    margin: 0;
}

.righttext {
    position: relative;
    left: 420px;
    bottom: 32px;
}

.righttext h1 {
    font-size: 0.8rem;
    color: #707070;
}

.righttext p {
    color: #707070;
}

.dato {
    background-color: #3F3140;
    text-align: center;
    margin: 0;
    height: 70px;
    padding: 5px;
}

.dato p {
    color: white;
    margin: 0;
}

.dato h2 {
    margin: 2px;
    color: white;
    font-weight: 100;
}

.dato h3 {
    margin: 5px;
}

.skemapil {
    width: 10px;
    margin: 0 30px;
}

.tid {
    border: 0.5px solid #DEDCDB;
}

.tid p {
    color: #707070;
    font-size: 0.8rem;
    margin: 10px;
}

.info {
    background-color: #DEDCDB;
    padding: 5px;
    height: 110px;
    width: 420px;
    position: relative;
    left: 60px;
    bottom: 121px;
}

.info2 {
    background-color: #DEDCDB;
    padding: 5px;
    height: 50px;
    width: 420px;
    position: relative;
    left: 60px;
    bottom: 121px;
}

.modul {
    margin: 0;
    height: 140px;
    background-color: #FAF7F7;
}

.bund {
    background-color: #3F3140;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 500px;
}

#skemaikon {
    width: 20px;
    margin: 0 10px;
}

.materialerikon {
    width: 20px;
    position: relative;
    left: 390px;
    bottom: 30px;
}

.linkikon {
    width: 20px;
    position: relative;
    left: 365px;
    bottom: 5px;
}

/** WEB VERSION **/

@media only screen and (min-width: 600px) {

    /*** forside ***/

    section#forside {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    /*** afleveringer ***/

    .tema2 {
        margin: 10px 30px 10px 20px;
    }

    .trykwrapper {
        width: 445px;
    }

    #afleveringer h6 {
        margin: 20px 25px 0;
    }

    #afleveringer h8 {
        margin: 0 25px;
    }

    #afleveringer {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
    }

    /*** Burger menu ***/

    #menu {
        width: 30%;
        position: absolute;
        right: 0;
    }

    #keaicon {
        margin-left: 100px;
    }

    /*** login ***/

    .password {
        margin: 0;
    }

    /*** skema ***/

    #skema {
        width: 500px;
        margin: auto;
    }
}

@media only screen and (min-width: 500px) {

    .box2 {
        flex-grow: 3;
    }

    .box3 {
        flex-grow: 3;
    }
}
